/* Mobile First Styles */

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.hide {
    display: none;
}


/* Grabbed colors from header graphic and match */

.intro {
    color: white;
    background: #00878E;
    padding: 30px;
}


/* Make Button match the style of the header */

.stylish-button {
    background: #00878E;
    border: none;
    width: 105px;
    height: 40px;
    color: white;
    font-size: 20px;
}


/* Lists should be basic with no indent or bullets */

ul {
    padding-inline-start: 0px;
    list-style-type: none;
}

li {
    width: 100%;
}

.group {
    margin-top: 50px;
    flex-direction: column;
}

.group-horiz {
    display: flex;
    flex-direction: row;
    background: rgb(223, 223, 223);
}

.start-img {
    width: 100%;
    height: auto;
    size: cover;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.item-question {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    /* background: #00878E; */
}

.pre-quiz {
    text-align: center;
}

.responses {
    /* background: rgb(223, 223, 223); */
}

.response-option {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.results {
    text-align: center;
}

.response-submit {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    /* background: rgb(223, 223, 223); */
}


/* Desktop Styles */

@media all and (min-width: 800px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 20px;
    }
}